<footer class="bg-blanc border-t-1 border-raisin">
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 font-open 
              flex flex-wrap justify-between">
    
        <div class="flex flex-col space-y-4 max-w-sm">
            <a class="block">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" class="w-60 h-auto" viewBox="0 0 1011 364">
                <g fill="#C43E45">
                    <path d="M144.6 33.1c-18.9 2-33.1 6.1-51.1 14.9-66.7 32.4-99 109.5-75.4 180.3 21.4 64.4 85.3 106.6 152.5 100.7 21.8-1.9 37.6-6.4 56.5-16.1 92.7-47.8 108.2-174.3 29.7-243.5-23.7-20.9-52.4-33.1-85.7-36.4-11.5-1.1-15.1-1.1-26.5.1zm37.1 24.5c35.7 6.4 67.1 28.6 86.1 60.9 12.4 21.1 18.3 47.9 16.1 73.2-.8 9.6-4.1 25.8-5.4 27.2-.3.3-20.5-19.4-44.8-43.7L189.5 131l-31 31c-17 17-31.5 31-32.1 31-2.1 0-15.1-14.5-16.3-18.1-1.7-5.4-.2-8.2 10.5-18.9l9.4-9.5-7-7-7.1-7-11.5 11.7c-13.5 13.8-16.9 19.6-16.8 29.3.1 8.6 3.7 15 14.7 26.3l9.1 9.2-8.7 8.8-8.7 8.7 6.7 6.8 6.8 6.7 8.7-8.7 8.8-8.8 38.2 38.2c21 21 38 38.5 37.7 38.8-.4.3-5 1.6-10.3 3-35.9 9.1-71.7 2.9-102.6-17.8-9.6-6.4-26.3-23.1-32.7-32.7-14.7-22-21.6-44.1-21.7-70 0-16.1 1.5-26 5.9-39.6 19.7-60.1 79.8-96 142.2-84.8zm81.9 192.7c-3.1 4.7-9.1 12.2-13.2 16.7-7.3 7.7-21.2 19.1-26.2 21.3-2.2 1-5-1.6-42.8-39.4-22.2-22.2-40.4-40.8-40.4-41.4 0-.5 10.5-11.5 23.2-24.2l23.3-23.3 40.9 40.9 40.8 40.8-5.6 8.6z"/>
                    <path d="M148.2 98.7c-9.3 4.6-10.6 16.2-2.6 23.3 6 5.3 16.2 3.7 20.4-3.3 3-4.8 2.7-11.7-.6-15.7-5-5.9-10.9-7.4-17.2-4.3zM753 105.1c-6.2 2.4-8.1 11.3-3.6 16.6 2.1 2.4 3.2 2.8 7.6 2.8 4.4 0 5.5-.4 7.6-2.8 1.7-2 2.4-4 2.4-6.8 0-5.3-1.4-7.8-5.5-9.5-3.9-1.6-5-1.6-8.5-.3zM876.5 104.9c-3.9 1.7-6 5.1-6 9.8 0 3.8.5 4.9 3.3 7.4 7 6.3 17.2 1.6 17.2-8 0-6.3-8.6-11.8-14.5-9.2zM696.5 107.6C687 111.1 683 119 683 134.2v8.8h-18v15h18v86h16v-86h50v86h16V143h-66v-8.4c0-7.5.3-8.8 2.4-11.3 2.3-2.7 2.8-2.8 13.5-3.1l11.1-.4V106l-12.7.1c-8.6 0-14.1.5-16.8 1.5zM412.2 143c-6 1.3-13.7 5.7-17.8 10.2-3.8 4.2-3.9 4.2-5.1-4.2l-.8-5.5-6.8-.3-6.7-.3V244h15.9l.3-32.8.3-32.7 2.6-5.5c5-10.4 12.9-15.9 22.9-16 8.4 0 13 1.7 17.5 6.4 7.1 7.3 7.5 10 7.5 47.7V244h15.9l.3-31.8c.4-37.2.8-39.2 9.3-47.9 5.8-6 10.7-7.7 20-7.1 7.5.5 12.9 3.2 16.6 8.3 5.2 7.3 5.9 12.7 5.9 47.2V244h16v-31.3c0-17.1-.5-34-1-37.5-3.1-19.2-13.2-29.8-30.8-32.4-16-2.4-30.1 3-39.3 15l-2.6 3.4-2.6-4.4c-4.9-8.4-14.3-13.4-26.4-14.2-3.8-.3-8.7-.1-11.1.4zM804.2 143.5c-14.4 3.2-24.8 13.7-25.9 26.4-.8 8.5 1.1 13.8 6.7 19.3 6 5.8 12.7 8.1 32 10.8 21.2 3.1 25.9 5.7 26.7 14.7.6 6.3-2.3 10.9-9.2 14.3-4.3 2.1-6.4 2.5-14.5 2.5-10.2 0-16.7-2-21.8-6.8-2.9-2.7-6.2-8.9-6.2-11.7 0-1.8-.6-2-8-2h-8v2.8c0 9.4 7.7 21 16.9 25.7 15.4 7.8 38.2 7.8 51.7 0 10.3-6 16.3-17.2 15-27.9-2.2-16.4-12.7-22.9-43.2-26.6-12.3-1.5-16.3-2.7-19.6-6-5.7-5.7-2.8-16 5.7-20.4 5.6-2.9 18.9-3.5 25.2-1.1 6.2 2.4 10.8 6.7 12.9 12l1.7 4.5H858l-.6-2.8c-2.6-11.7-7.4-18.7-16.3-23.5-9.6-5.3-24.2-6.9-36.9-4.2zM941 143.1c-17.4 2.9-32.8 17.4-37.5 35.4-3.4 13.3-1.2 32.5 5 43.1 9.2 15.7 23.6 23.6 43 23.5 15.7 0 26.9-4.4 36.5-14.2 9.2-9.5 13.3-20.6 13.4-36.4.1-13.3-2.3-22.1-8.5-31.4-10.7-16-30.2-23.5-51.9-20zm25.7 17c6.9 3.3 11.9 8.6 15.5 16.5 2 4.3 2.3 6.5 2.3 17.4 0 11.7-.2 12.9-2.8 18.2-3.9 7.9-10.4 14.2-17.5 16.8-8 3-20.6 2.6-27.6-1-6.3-3.2-12.9-10.7-15.8-17.8-1.9-4.7-2.3-7.6-2.3-16.7 0-10 .3-11.6 2.8-17 3-6.4 9.3-13.7 14.2-16.3 9.3-4.9 21.2-5 31.2-.1zM528 143.2c0 .2 8.9 23.2 19.9 51.2l19.8 50.9-4.5 10.5c-2.9 6.5-5.4 11-7 12-1.6 1-5.6 1.7-12.8 2l-10.4.5V284h12.8c19.2-.1 22.9-2.4 29.7-19.2 8.3-20.4 47.5-120.2 47.5-121 0-.5-3.7-.8-8.2-.6l-8.2.3-10.8 29.5c-6 16.2-12.7 34.6-14.9 40.7-2.3 6.2-4.5 11.3-5 11.3s-.9-.4-.9-1c0-.8-19.7-53.5-27.7-74.3l-2.6-6.7h-8.4c-4.5 0-8.3.1-8.3.2zM873 193.5V244h16l-.2-50.3-.3-50.2-7.7-.3-7.8-.3v50.6z"/>
                </g>
                </svg>
            </a>
            <p class="text-pink text-md">Votre traitement commence par le mouvement</p>
            <a class="inline-block rounded-4xl bg-pink px-5 py-2.5 text-1xl font-poppins text-white
                transition-transform hover:scale-110 text-center" href="#">
                Prendre Rendez-vous
            </a>
        </div>

        <div class="flex flex-col text-pink space-y-1">
            <h1 class="text-2xl font-bold mb-2">Navigation</h1>
            <a href="#"><p>Accueil</p></a>
            <a href="#"><p>La thérapeute</p></a>
            <a href="#"><p>Le cabinet</p></a>
            <a href="#"><p>Contact</p></a>
        </div>

        <div class="flex flex-col text-pink space-y-1">
            <h1 class="text-2xl font-bold mb-2">Nous contacter</h1>
            <p>06 95 09 83 37</p>
            <p>myfisiobetton@gmail.com</p>
            <p>2 rue Abbé Besnard</p>
            <p>35838 Betton</p>
        </div>

        <div></div>

    </div>

    <div class="flex flex-col justify-center items-center mb-4 gap-2">
        <span class="h-px w-3xl bg-pink"></span>
        <p class="mt-2">© 2025 My Fisio. All rights reserved</p>
        <a href="#">
        <p class="underline mb-4">Mentions légales</p>
        </a>
    </div>
  

  
</footer>
